.background {
    color: #efefef ;
}

.activitydescription{
    text-align: justify;
    text-decoration: mediumblue;
    padding: auto;
}
h1{
    text-align: center;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: rgb(0, 0, 128);
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
#footer{
    padding: 100px 0 20px;
    background: rgb(176, 196, 222);
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20pxl;
}
.footer-right{
    text-align: right;
}
#single-service{
    flex-basis: 48%;
}
#feature{
    width: 100%;
    padding: 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-flex;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}